.imagen-1 {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.academia-2 {
  background-color: rgb(209, 103, 191);
  text-decoration-color: black;
  border-radius: 10px;
  margin-top: 5px;
}
.card2 {
  margin-left: auto;
}
.fa-user:before {
  font-size: 37px;
}
.fa-python:before {
  font-size: 30px;
}
.fa-js:before {
  font-size: 30px;
}
.fa-java:before {
  font-size: 30px;
}
.fa-css3-alt:before {
  font-size: 30px;
}
.fa-html5:before {
  font-size: 30px;
}
.fa-php:before {
  font-size: 30px;
}
.fa-gem:before {
  font-size: 30px;
}
