/* 
    General Styles
*/
body {
  background: linear-gradient(135deg, #585761, #2c4551, #606360);
  background-color: #0567cc;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Source Sans Pro", sans-serif;
}

a:hover {
  text-decoration: none !important;
}
