/* 
    General Styles
*/
body {
  background: linear-gradient(135deg, #6d65ff, #0567cc, #5da6bb);
  background-color: #0567cc;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Source Sans Pro", sans-serif;
}
