/* 
    General Styles
*/
body {
  background: linear-gradient(135deg, #833ab4, #fd1d1d);
  background-color: #fcb045;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Source Sans Pro", sans-serif;
}
